section#home {
  height: 80vh;
}

button.btn {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: translateX(8px);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: unset;
}
